{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <h2>Login</h2>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-space">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
    
        
        <button class="btn btn-primary ml-3">Login</button>
        <h5>You don't have a registration?
            <a href="{% url 'register' %}">Register</a>
        </h5>
    </form>
{% endblock %}



